<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mentpeak.test.mapper.ReortFamilyStructureTaskUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="reortFamilyStructureTaskUserResultMap" type="org.mentpeak.test.entity.ReortFamilyStructureTaskUser">
        <result column="id" property="id"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="test_task_id" property="testTaskId"/>
        <result column="family_structure_id" property="familyStructureId"/>
        <result column="user_id" property="userId"/>
    </resultMap>


    <select id="selectReortFamilyStructureTaskUserPage" resultMap="reortFamilyStructureTaskUserResultMap">
        select * from reort_family_structure_task_user where is_deleted = 0
    </select>

</mapper>
