<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mentpeak.test.mapper.ReportLifeStyleTaskUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="reportLifeStyleTaskUserResultMap" type="org.mentpeak.test.entity.ReportLifeStyleTaskUser">
        <result column="id" property="id"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="test_task_id" property="testTaskId"/>
        <result column="life_style_id" property="lifeStyleId"/>
        <result column="user_id" property="userId"/>
    </resultMap>


    <select id="selectReportLifeStyleTaskUserPage" resultMap="reportLifeStyleTaskUserResultMap">
        select * from report_life_style_task_user where is_deleted = 0
    </select>

</mapper>
