<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mentpeak.test.mapper.ReportTeacherUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="reportTeacherUserResultMap" type="org.mentpeak.test.entity.ReportTeacherUser">
        <result column="id" property="id"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="user_id" property="userId"/>
    </resultMap>


    <select id="selectReportTeacherUserPage" resultMap="reportTeacherUserResultMap">
        select * from report_teacher_user where is_deleted = 0
    </select>

</mapper>
