<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mentpeak.test.mapper.TestCommonIntroductioinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="testCommonIntroductioinResultMap" type="org.mentpeak.test.entity.TestCommonIntroductioin">
        <result column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="introduction" property="introduction"/>
        <result column="sort" property="sort"/>
    </resultMap>


    <select id="selectTestCommonIntroductioinPage" resultMap="testCommonIntroductioinResultMap">
        select * from test_common_introductioin where is_deleted = 0
    </select>

</mapper>
