<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mentpeak.test.mapper.TestApproachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="testApproachResultMap" type="org.mentpeak.test.entity.TestApproach">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="qr_code" property="qrCode"/>
        <result column="content_describe" property="contentDescribe"/>
        <result column="sort" property="sort"/>
    </resultMap>


    <select id="selectTestApproachPage" resultMap="testApproachResultMap">
        select * from test_approach where is_deleted = 0
    </select>

</mapper>
